/* #ASSETS# */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

/* #VARIABLE# */
:root {
  --clr-primary: #080a1e;
  --clr-white-box: #ffffff;
  --clr-white-shadow: #ffffff86;
  --clr-gray-form: #ebebf5;
  --clr-gray-text: #8c837e;
  --clr-gray-box: #e5e7f440;
  --clr-moon: #757391;
  --flt-blur: blur(6px);
  --gap-width: 136.6rem;
}

/* #GENERAL# */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--clr-primary);
  overflow: hidden;
}

/* #REUSEABLE# */
.wrapper-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* #APP# */
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  width: 40rem;
  bottom: -5rem;
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 1536px) {
  .background {
    width: 45rem;
  }
}
@media screen and (min-width: 1836px) {
  .background {
    width: 50rem;
  }
}
@media screen and (min-width: 2136px) {
  .background {
    width: 60rem;
  }
}

/* #NAVBAR# */
.navbar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navwra-container {
  width: var(--gap-width);
  padding: 1.75rem 3rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navcon-logo {
  height: 2rem;
}

.navcon-form {
  display: flex;
  flex-direction: row;
}

.navcon-form button {
  width: 5rem;
  height: 5rem;
  margin: 0 -2.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--clr-primary);
  cursor: pointer;
  z-index: 99;
  transition: all 0.3s ease;
}

.navcon-form button:hover {
  transform: scale(1.1);
}

.navcon-form img {
  width: 3.6rem;
}

.navfor-input {
  padding: 0 1rem 0 3.3rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3rem;
  background-color: var(--clr-gray-form);
  color: var(--clr-primary);
}

.navfor-input input {
  border: none;
  outline: none;
  background-color: var(--clr-gray-form);
  font-size: 1.6rem;
}

.navfor-input input::placeholder {
  color: var(--clr-gray-text);
}

.navcon-form select {
  height: 100%;
  padding: 0 0 0 1rem;
  border: none;
  outline: none;
  background-color: #ffffff00;
  font-size: 1.6rem;
  cursor: pointer;
}

.navfor-input select option {
  background: var(--clr-primary);
  color: var(--clr-white-box);
}

/* MAIN */
.maiwra-container {
  width: var(--gap-width);
  height: 87vh;
  padding: 0 3rem 0 3rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* LeftUpper */
.lefup-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.lefup-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 9rem;
  cursor: default;
}

.lefupcon-1 {
  font-size: 3.4rem;
  font-weight: 600;
}

.lefupcon-2 {
  width: auto;
  padding: 0 1.2rem 0.4rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-primary);
  border-radius: 3rem;
  font-size: 3.4rem;
  font-weight: 500;
}

.lefupcon-3 {
  width: auto;
  margin: 0 0 0 3rem;
  padding: 0 1.2rem 0.2rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-primary);
  border-radius: 3rem;
  font-size: 3.4rem;
  font-weight: 500;
}

/* LeftMiddle */
.lefmid-container {
  width: 100%;
  margin: 0 0 2rem 0;
  display: flex;
  justify-content: space-between;
}

.lefmicon-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.lefmicon-left-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  cursor: default;
}

.lefmicon-left-container span {
  font-size: 2.4rem;
  font-weight: 500;
}

.lefmicon-left-container div {
  width: auto;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-primary);
  border-radius: 3rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.lefmicon-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lefmicon-rigwra-container {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-white-box);
  border-radius: 4rem;
  background-color: var(--clr-gray-box);
  backdrop-filter: var(--flt-blur);
}

.lefmicon-rigcon-up {
  padding: 1rem 1rem 1.1rem;
  border: 1px solid var(--clr-primary);
  border-radius: 2rem;
  background-color: var(--clr-white-box);
  cursor: default;
}

.lefmicon-rigcon-bot {
  display: flex;
  justify-content: center;
}

.lefmicon-rigcon-bot button {
  padding: 2.2rem 1.3rem;
  display: flex;
  border: 1px solid var(--clr-primary);
  border-radius: 4rem;
  cursor: pointer;
}

.lefmicon-rigcon-bot button:first-child {
  background-color: #ffffff60;
  transition: all 0.3s ease;
}

.lefmicon-rigcon-bot button:first-child:hover {
  border: 1px solid var(--clr-moon);
  background-color: var(--clr-moon);
}

.lefmicon-rigcon-bot button:last-child {
  background-color: var(--clr-primary);
  transition: all 0.3s ease;
}

.lefmicon-rigcon-bot button:last-child:hover {
  background-color: #ffffff60;
}

.light-normal {
  display: block;
}

.light-hover {
  display: none;
}

.lefmicon-rigcon-bot button:hover .light-normal {
  display: none;
}

.lefmicon-rigcon-bot button:hover .light-hover {
  display: block;
}

.lefmicon-rigcon-bot img {
  width: 2.4rem;
}

.lefbot-container {
  display: flex;
  justify-content: flex-start;
  gap: 4.35rem;
}

.lefbocon-wrapper {
  width: 21.6rem;
  height: auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  border: 1px solid var(--clr-white-box);
  border-radius: 4rem;
  background-color: var(--clr-gray-box);
  backdrop-filter: var(--flt-blur);
}

.lefbocon-wrapper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lefbocon-wracon-text {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.lefbocon-wracon-text input {
  display: none;
}

.checked {
  display: inline;
}

.lefbocon-wracon-text span {
  width: 11rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.7rem;
  font-weight: 400;
}

.lefbocon-wracon-through {
  text-decoration: line-through;
  text-decoration-color: red;
  animation: strike 0.5s linear;
}

.lefbocon-wracon-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lefbocon-wracon-button button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
}

.lefbocon-wracon-button img {
  width: 1.6rem;
}

.right-wrapper {
  width: 36.6rem;
  height: 100%;
}

.rigwra-container {
  width: 100%;
  height: 100%;
  margin-bottom: -20rem;
  padding: 2.5rem 3rem 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.4rem;
  border: 1px solid var(--clr-white-box);
  border-radius: 4rem;
  background-image: linear-gradient(
    180deg,
    rgba(189, 48, 48, 0),
    var(--clr-gray-box)
  );
  backdrop-filter: var(--flt-blur);
  /* background-color: blue; */
}

.rigwra-container button {
  cursor: pointer;
}

.rigwra-container-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.rigwra-conup-container {
  display: flex;
  gap: 0.8rem;
  font-size: 2.8rem;
  font-weight: 500;
  cursor: default;
}

.rigwra-conupcon-container {
  width: auto;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-primary);
  border-radius: 3rem;
  font-size: 2.4rem;
}

.rigwra-container-mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.rigwra-container-mid button {
  padding: 1.4rem 1.3rem;
}

.rigwra-container-small {
  font-size: 1.1rem;
  font-weight: 400;
  cursor: default;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-white {
  border: 1px solid var(--clr-primary);
  background-color: #ffffff00;
  transition: all 0.3s ease;
}

.btn-white:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-white-box);
}

.btn-color {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-white-box);
}

.rigwra-container-bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rigwra-container-bot button {
  margin-top: 3rem;
  padding: 1.4rem 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rigwra-container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rigwra-container-bar {
  padding: 0 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rigwra-conbar-percentage {
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.rigwra-conbar-percentage span {
  font-size: 1.2rem;
  font-weight: 500;
}

.rigwra-conbar-progress {
  width: 100%;
  height: 2.4rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  background-color: var(--clr-primary);
}

.rigwra-conbar-progress div {
  width: 16%;
  height: 100%;
  /* Tambahkan Margin Left Peersen*/
  border-radius: 3rem;
  background-color: var(--clr-white-box);
  filter: drop-shadow(0 0.4rem 2.4rem var(--clr-white-shadow));
}

.rigwra-container-total {
  margin: 0 3rem;
  padding: 3rem 0;
  position: relative;
}

.rigwra-contot-image {
  display: flex;
  justify-content: center;
}

.rigwra-contot-up {
  position: absolute;
  left: 0.6rem;
  top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: default;
}

.rigwra-contotup-small {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--clr-gray-text);
}

.rigwra-contotup-big {
  font-size: 6rem;
  font-weight: 500;
  color: var(--clr-primary);
}

.rigwra-contot-bot {
  position: absolute;
  right: 0.6rem;
  bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: default;
}

.up {
  margin-bottom: -0.7rem;
  position: relative;
}

.down {
  margin-top: -0.7rem;
  position: relative;
}

/* #ANIMATIONS# */
.animated-opacity {
  animation: opacity 1.5s ease;
}
.animated-opacity-slow {
  animation: opacity 2.5s ease;
}

.animated-slidetop-fast {
  animation: slideInTop 1s ease;
}
.animated-slidetop-normal {
  animation: slideInTop 1.3s ease;
}
.animated-slidetop-slow {
  animation: slideInTop 1.5s ease-out;
}

.animated-slideleft-fast {
  animation: slideInLeft 1.2s ease;
}
.animated-slideleftspec-fast {
  animation: slideInLeftSpecial 1.7s ease;
}
.animated-slideleftspec-normal {
  animation: slideInLeftSpecial 2s ease;
}
.animated-slideleftspec-slow {
  animation: slideInLeftSpecial 2.3s ease;
}

.animated-slideright-fast {
  animation: slideInRight 1s ease;
}
.animated-slideright-normal {
  animation: slideInRight 1.2s ease;
}
.animated-slideright-slow {
  animation: slideInRight 1.5s ease;
}

.animated-slidebot-fast {
  animation: slideInDown 1s ease;
}

@keyframes strike {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: red;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInTop {
  from {
    transform: translateY(-140px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeftSpecial {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInDown {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideInDownSpecial {
  from {
    transform: translateY(800px);
  }
  to {
    transform: translateY(0);
  }
}
